<span class="no-wrap">
  ←&nbsp;<%= link_to "Budgets", budget_periods_path %><br>
  /<%= link_to @budget_period.display_period_short(' '), budget_period_path(@budget_period.uid) %><br>
  /<%= link_to "Details", budget_period_details_path(@budget_period.uid) %>/New income
</span>
<h2>Edit income</h2>
<%= render "form" %>
