<h2 class="title mb-5 text-center"><%= t("views.transactions.forms.new_expense") %></h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: transaction_breadcrumb(@budget_period, t("views.transactions.forms.new_expense")) %>
</div>
<%= render "form" %>
