<span>
  â†&nbsp;<%= link_to "Budgets", budget_periods_path %>/<%= link_to @budget_period.display_period_short(' '), budget_period_path(@budget_period.uid) %>/<%= link_to "Details", budget_period_details_path(@budget_period.uid) %>/New expense
</span>
<h2>New expense</h2>
<%= render "form" %>
