<section>
  <h2>Expense categories</h2>
  <%= link_to "New category", new_expense_category_path %>
  <div class="overflow-x-auto">
    <%= render "shared/table/table", table_columns: @table_columns, table_rows: @categories %>
  </div>
</section>
