<h2 class="title mb-5 text-center"><%= t("views.expense_categories.forms.new_category") %></h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: [{ body: t("views.expense_categories.forms.new_expense"), path: @redirect_path }] %>
</div>
<%= render "form" %>
