<h2 class="title mb-5 text-center">New expense category</h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: [{ body: 'New expense', path: @redirect_path }] %>
</div>
<%= render "form" %>
