<h2 class="title mb-5 text-center"><%= t("views.todo_lists.forms.new_todo_list") %></h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: bredcrumbs_todo_lists_new %>
</div>
<%= render "form" %>
