<div class="text-slate-400 italic">
  <% breadcrumbs.each_with_index do |breadcrumb, index| %>
    <% if index.zero? %>
      <span>←</span>
    <% end %>
    <% if breadcrumb[:path].nil? %>
      <span><%= breadcrumb[:body] %></span>
    <% else %>
      <span class=""><%= link_to breadcrumb[:body], breadcrumb[:path], class: "link" %> /</span>
    <% end %>
  <% end %>
</div>
