<% breadcrumbs.each_with_index do |breadcrumb, index| %>
  <% if index.zero? %>
    <span>←</span>
  <% end %>
  <% if breadcrumb[:path].nil? %>
    <span><%= breadcrumb[:body] %></span>
  <% else %>
    <span><%= link_to breadcrumb[:body], breadcrumb[:path] %> /</span>
  <% end %>
<% end %>
