<div class="modal-container" id="<%= id %>">
  <div class="mx-auto w-96 h-fit card">
    <div class="flex justify-end">
      <button type="button" onclick="closeModal()">
        <%= image_tag "x.svg", class: "w-6" %>
      </button>
    </div>
    <%= render path, **options %>
  </div>
</div>

<script>
  function closeModal() {
    const id = '<%= id %>';
    const modal = document.getElementById(id);
    modal.parentNode.removeChild(modal);
  }
</script>
