<div class="sticky top w-full bg-white border border-gray-200 drop-shadow-sm">
  <nav class="mx-auto py-2 container">
    <div class="px-2 flex justify-between items-center">
      <div data-sliding-menu-target="menuContainer" data-controller="sliding-menu">
        <div class="block md:hidden">
          <button data-action="click->sliding-menu#toggleMenu" class="pt-1">
            <%= image_tag "menu.svg", alt: "menu", class: "w-8" %>
          </button>
          <%= render "shared/sliding_link_menu", links: navigation_links %>
        </div>
        <div class="px-2 hidden md:block"><%= render "shared/navbar_links", links: navigation_links %></div>
      </div>
      <%= image_tag "saturn.svg", alt: "saturn-app", class: "w-12" %>
    </div>
  </nav>
</div>
