<div class="bg-gray-200 border border-gray-300">
  <nav class="mx-auto container relative">
    <div class="px-2 flex justify-between md:justify-end items-center">
      <div data-sliding-menu-target="menuContainer" class="block md:hidden" data-controller="sliding-menu" id="sliding-menu-container">
        <button data-action="click->sliding-menu#toggleMenu">MENU</button>
        <%= render "shared/sliding_link_menu", links: navigation_links %>
      </div>
      <h1>SaturnApp</h1>
    </div>
    <div class="px-2 hidden md:block"><%= render "shared/navbar_links", links: navigation_links %></div>
  </nav>
</div>
