<div class="bg-white border drop-shadow-md rounded-md w-fit absolute z-[100] -left-full transition-all mt-2" data-sliding-menu-target="menu">
  <%= render "shared/navigation_links", links: navigation_links %>
</div>
