<div class="card overflow-hidden">
  <div class="overflow-x-auto">
    <table class="table w-full whitespace-nowrap">
      <thead>
        <tr>
          <% table_columns.each do |column| %>
            <th><%= column %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each do |row| %>
          <%= render render_path, data: row %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
