<h2 class="title mb-5 text-center">Edit income</h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: transaction_breadcrumb(@budget_period, 'Edit income') %>
</div>
<%= render "form" %>
