<h2 class="title mb-5 text-center"><%= t("views.todo_categories.navigiation_links.edit_category") %></h2>
<div class="mb-10">
  <%= render "shared/breadcrumb_navigation", breadcrumbs: todo_categories_edit_breadcrumbs(@todo_list) %>
</div>
<%= render "form" %>
