@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-700 bg-gray-100;

  font-family: Roboto, sans-serif;
}

@layer components {
  .title {
    @apply text-xl text-slate-500 font-bold;
  }

  .link {
    @apply text-lime-600 hover:underline underline-offset-4 hover:text-lime-700 transition-all;
  }

  .number {
    font-family: Arvo, serif;
  }

  .card {
    @apply p-2 md:p-3 bg-white rounded-md shadow-md;
  }

  .table {
    @apply text-left;
  }

  .table tr th {
    @apply bg-slate-200 p-2 text-slate-400;
  }

  .table tbody {
    @apply divide-y divide-slate-600;
  }

  .table td {
    @apply px-3 py-1.5;
  }

  .table tr:nth-child(even) {
    @apply bg-slate-100;
  }

  .table tr:nth-child(odd) {
    @apply bg-white;
  }

  .form label  {
    @apply block mb-0.5 italic text-slate-400;
  }

  .form textarea {
    @apply h-20 resize-none text-slate-500 focus:outline-lime-600 ring-0 focus:border-lime-700;
  }

  .form textarea,
  .form input[type="number"],
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"],
  .form select {
    @apply w-full rounded-md text-slate-500 focus:outline-lime-600 ring-0 focus:border-lime-700;
  }

  .form  input[type="checkbox"] {
    @apply text-lime-600 outline-lime-600;
  }

  .form input[type="color"] {
    @apply h-8 w-8;
  }

  .form input[type="submit"] {
    @apply px-5 py-2 bg-lime-600 text-white rounded-md cursor-pointer
  }

  .form .group {
    @apply mb-5;
  }

  .form .submit {
    @apply mt-10 flex justify-end;
  }

  .alert {
    @apply mb-5 p-2 md:p-3 bg-rose-50 rounded-md;
  }

  .alert span {
    @apply text-rose-600;
  }

  .warning {
    @apply mb-5 p-2 md:p-3 bg-orange-50 rounded-md;
  }

  .devise-links a {
    @apply link;
  }

  .paginator {
    @apply mt-5 w-fit mx-auto flex gap-2;
  }

  .paginator a {
    @apply
    text-slate-500
    bg-slate-300
    rounded-md
    hover:underline
    underline-offset-4
    hover:bg-lime-600
    hover:text-white
    transition-all;
  }

  .paginator .page {
    @apply block w-7 h-7 text-center;
  }

  .paginator .current-page {
    @apply text-white bg-lime-600 rounded-md font-bold;
  }

  .paginator .first-page,
  .paginator .last-page,
  .paginator .next-page,
  .paginator .prev-page {
    @apply block h-7 px-1 text-center;
  }
}
