<section>
  <h2 class="title mb-5 text-center">Budget periods</h2>
  <div class="overflow-x-auto">
    <%= render "shared/table/table", table_columns: @table_columns, table_rows: @budget_periods %>
  </div>
</section>
