<section>
  <h2 class="title mb-5 text-center">Budget periods</h2>
  <div class="mb-10">
    <%= render "shared/breadcrumb_navigation", breadcrumbs: [{ body: 'Home', path: root_path }] %>
  </div>
  <%= turbo_frame_tag "budgets_table" do %>
    <%= render "shared/table", table_columns: @table_columns, render_path: @render_path, rows: @rows %>
    <%= paginate @rows, param_name: :budgets_page %>
  <% end %>
</section>
