<h2><%= @budget_period.display_period_full %></h2>
<div class="overflow-x-auto">
  <%= render "shared/table/table", table_columns: @income_table_columns, table_rows: @income %>
</div>
<div class="overflow-x-auto">
  <%= render "shared/table/table", table_columns: @expense_table_columns, table_rows: @expenses %>
</div>
